.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
vignettes/analysis.pdf
ext-data/dwh/pollen_dwh_daily.txt
ext-data/dwh/pollen_dwh_hourly.txt
.vscode/launch.json
.Rprofile
gg_*
vignettes/analysis.html
vignettes/test*
